.archive {
  &__pre-heading {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  .posts-navigation {
    width: 100%;
    margin-top: 2rem;
    grid-column: 1 / -1;
    .nav-links {
      display: flex;
      gap: 2rem;
      justify-content: center;
      a {
        text-decoration: underline;
      }
    }
  }
}
