.accordions {
  max-width: var(--container-width);
  margin: 0 auto;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-left: 0;
    padding-right: 0;
  }

  &__pre-heading {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__description {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__item {
    cursor: pointer;
    &-title {
      @extend .font__size-3;
      padding: 0.2rem 0;
      border-bottom: 1px solid var(--color-black);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-arrow {
      display: flex;
      transition: transform var(--transition-duration);
    }

    &-content {
      max-height: 0;
      overflow: hidden;

      transition: max-height var(--transition-duration-long),
        opacity var(--transition-duration-long);
      opacity: 0;

      a {
        text-decoration: underline;
      }
      &-inner {
        padding: var(--gutter);
      }
    }

    &.active {
      .accordions__item-content {
        max-height: 500px;
        opacity: 1;
      }
      .accordions__item-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &.--toggles {
    max-width: 100%;
    .accordions {
      &__pre-heading,
      &__heading,
      &__description {
        text-align: left;
      }

      &__container {
        display: grid;
        gap: var(--gutter);

        @media screen and (max-width: $breakpoint-mobile) {
          grid-template-columns: 1fr;
        }
      }
      &__list {
        align-self: center;
        &.--images {
          display: grid;
          grid-template-areas: "a";
          grid-area: image;
        }
      }
      &__image {
        grid-area: a;
        width: 100%;
        opacity: 0;
        transition: opacity var(--transition-duration);
        &.active {
          opacity: 1;
        }
      }
    }

    &.--image-right {
      .accordions {
        &__container {
          grid-template-columns: 1fr 35%;
          grid-template-areas: "content image";
        }
      }
    }
    &.--image-left {
      .accordions {
        &__container {
          grid-template-columns: 35% 1fr;
          grid-template-areas: "image content";
        }
      }
    }
  }
}
