.banner {
  padding: 0;
  margin-bottom: 20%;
  margin-top: var(--spacer);

  @media screen and (max-width: $breakpoint-tablet) {
    margin-bottom: 20%;
  }
  .container {
    padding: 0;
  }

  &__files {
    display: flex;
    img {
      width: 100%;
      @media screen and (max-width: $breakpoint-tablet) {
        min-height: 70vw;
        object-fit: cover;
      }
    }
  }
  &__content {
    padding: 2rem;
    position: absolute;
    bottom: 0;
    right: var(--gutter);
    transform: translateY(50%);
    width: 55%;
    background-color: var(--color-background);
    border-radius: var(--border-radius);

    @media screen and (max-width: $breakpoint-tablet) {
      width: calc(100% - calc(var(--gutter) * 2));
    }

    @media screen and (max-width: $breakpoint-mobile) {
      position: relative;
      width: 100%;
      transform: translateY(0);
      right: unset;
      padding: 2rem 1rem;
    }
  }

  &__pre-heading {
    margin-bottom: 1rem;
    @extend .font__size-6;
  }

  &__heading {
    margin-bottom: 1rem;
    @extend .font__size-3--alt;
  }

  &__cta {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
