.cta {
  z-index: 1;
  .container {
    display: grid;
    gap: var(--gutter);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    background-color: #ffffff;

    @media screen and (max-width: $breakpoint-tablet) {
      grid-template-columns: 1fr !important;
    }
  }

  &.--file {
    &-left {
      .container {
        grid-template-columns: 45% 1fr;
      }
    }
    &-right {
      .container {
        grid-template-columns: 45% 1fr;
      }
    }
  }

  &__pre-heading {
    margin-bottom: 1rem;
  }
  &__heading {
    margin-bottom: 1.5rem;
  }
  &__description {
    margin-bottom: 2rem;
  }

  &__file {
    overflow: hidden;
    border-radius: var(--border-radius-sm);
    img,
    video {
      width: 100%;
    }
  }

  &__content {
    align-self: center;
    @media screen and (max-width: $breakpoint-mobile) {
      padding: 2rem 0;
    }
  }
}
