.rich-text {
  padding-top: var(--spacer-sm);
  padding-bottom: var(--spacer-sm);

  &.--content-width {
    .container {
      max-width: var(--container-width-sm);
      margin: 0 auto;
      @media screen and (max-width: $breakpoint-mobile) {
        max-width: 100%;
      }
    }
  }
}
