.text-image {
  &__header {
    text-align: center;
    margin-bottom: var(--gutter);
  }

  &__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    grid-template-areas:
      "header image"
      "text image";
  }

  &.--image-right {
    .text-image__columns {
      grid-template-areas:
        "header image"
        "text image";
    }
  }

  &.--image-left {
    .text-image__columns {
      grid-template-areas:
        "image header"
        "image text";
    }
  }

  &__column {
    &.--text {
      grid-area: text;
    }

    &.--image {
      grid-area: image;
      display: grid;
      grid-template-areas: "image";
    }

    &-toggles {
      display: flex;
      gap: 2rem;
      li {
        cursor: pointer;
      }
    }

    &-group {
      display: grid;
      grid-template-areas: "inner";
    }

    &-inner {
      grid-area: inner;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }

    &-image {
      grid-area: image;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
  }
}
