.error-404 {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__column {
    align-self: center;
    p {
      margin: 1rem 0 2rem;
    }
  }
}
