$content-spacing: 2rem auto;

.editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  form {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  ol,
  ul {
    transform: translateX(1em);
    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  ul {
    list-style-type: disc;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  figcaption,
  img + em,
  img + * + em {
    display: block;
    font-size: var(--font-size-sm);
    line-height: 1.2;
    font-style: italic;
  }

  iframe {
    max-width: 100%;
  }
  .aligncenter {
    text-align: center;
  }
  .alignleft {
    text-align: left;
  }
  .alignright {
    text-align: right;
  }
  .wp-block {
    &-image {
      margin: $content-spacing;
      figcaption {
        padding: 0;
      }

      &.is-style-rounded,
      .is-style-rounded {
        img {
          border-radius: var(--border-radius);
        }
      }
    }

    &-file {
      &__button {
        @extend .button;
        @extend .button--primary;
      }
    }

    &-gallery {
      margin: $content-spacing;

      .wp-block-image {
        padding: 0;
        margin-top: auto !important;
      }
      figcaption.wp-element-caption {
        position: relative !important;
        background: unset !important;
        color: inherit !important;
        font-size: inherit !important;
        text-align: left;
        flex: unset !important;
      }
    }

    &-quote {
      margin: $content-spacing;

      p {
        @extend .font__size-4--alt;
      }
      cite {
        margin-top: 1rem;
      }
    }

    &-pullquote {
      position: relative;
      padding-left: 15%;
      padding-right: 15%;
      text-wrap: balance;
      &::before {
        content: "";
        @extend .shape--1;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 1.2s var(--transition-ease-in-out);
      }
      p {
        @extend .font__size-1;
        font-family: var(--font-tertiary);
        font-weight: 400;
      }
      cite {
        margin-top: 1rem;
        display: block;
      }

      &.load--shape {
        &::before {
          clip-path: inset(0 0% 0 0);
        }
      }
    }

    &-buttons {
      margin: 1rem auto 0;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-button {
      &__link {
        @extend .button;
      }

      &.is-style-fill {
        a {
          @extend .button--primary;
        }
      }

      &.is-style-outline {
        a {
          @extend .button--secondary;
          border-color: currentColor;
          color: currentColor;
        }
      }
    }

    &-cover {
      margin: $content-spacing;

      p {
        padding: 4rem 0;
        max-width: 100%;
      }
    }

    &-separator {
      margin: $content-spacing;
    }

    &-table {
      margin: $content-spacing;

      figcaption {
        margin-top: 0.5rem;
      }
    }

    &-image,
    &-video,
    &-columns,
    &-media-text,
    &-audio,
    &-file,
    &-code,
    &-preformatted,
    &-verse,
    &-embed {
      margin: $content-spacing;
    }

    &-group,
    &-cover {
      margin: $content-spacing;
      padding: 1rem;
    }
  }

  .tribe-events-schedule {
    display: none;
  }

  .tribe-related-events {
    display: none;
  }

  .tribe-block {
    display: none;

    &__related-events {
      &__title {
        display: none;
      }
    }
  }
}
