.site-footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);
  padding: var(--gutter) 0;
  position: relative;
  &__container {
    display: grid;
    grid-template-columns: 15% 1.5fr 1fr;
    gap: 4rem 2rem;
    grid-template-areas:
      "a b c"
      ". d d";

    @media screen and (max-width: $breakpoint-mobile) {
      gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    }
  }

  &__logo {
    grid-area: a;
    display: flex;
    width: 180px;
    @media screen and (max-width: $breakpoint-mobile) {
      justify-self: center;
      width: 150px;
    }

    img {
      width: 100%;
    }
  }
  &__navigation {
    grid-area: c;
    .menu {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      margin-top: 2rem;
      gap: 1rem 2rem;
      @media screen and (max-width: $breakpoint-mobile) {
        margin-top: 2rem;
        gap: 1rem 4rem;
      }
      li {
        @extend .font__size-6;
        a {
          @extend .has-underline;
        }
      }
    }
  }
  &__bottom {
    grid-area: d;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 0;
    p {
      font-size: var(--font-size-sm);
      line-height: 1;
      &:not(:last-child) {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid var(--color-black);
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .newsletter {
    grid-area: b;
    h3 {
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 2rem;
    }

    form {
      display: flex;

      input[type="email"] {
        width: 45%;
        @media screen and (max-width: $breakpoint-mobile) {
          width: 100%;
        }
      }

      input[type="submit"] {
        margin-left: 0.5rem;
      }
    }
  }
}
