.site-footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);
  padding: var(--gutter) 0;
  position: relative;
  &__container {
    display: grid;
    grid-template-columns: 15% 1.5fr 1fr;
    gap: 4rem 2rem;
    grid-template-areas:
      "a b c"
      ". d d";

    @media screen and (max-width: $breakpoint-mobile) {
      gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    }
  }

  &__logo {
    grid-area: a;
    display: flex;
    width: 180px;
    align-self: start;
    @media screen and (max-width: $breakpoint-mobile) {
      justify-self: center;
      width: 150px;
    }

    img {
      width: 100%;
    }
  }
  &__navigation {
    grid-area: c;
    .menu {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      margin-top: 2rem;
      gap: 1rem 2rem;
      @media screen and (max-width: $breakpoint-mobile) {
        margin-top: 2rem;
        gap: 1rem 4rem;
        grid-template-columns: max-content max-content;
      }

      li {
        @extend .font__size-6;
        a {
          @extend .has-underline;
        }
      }
    }
  }
  &__bottom {
    grid-area: d;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 0;
    p {
      font-size: var(--font-size-sm);
      line-height: 1;
      &:not(:last-child) {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid var(--color-black);
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .newsletter {
    grid-area: b;

    .ctct-inline-form {
      .ctct-form-container {
        .ctct-form-defaults {
          padding: 0;
          .ctct-form-custom {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "header header"
              "text text"
              "fname lname"
              "email email"
              "disclaimer disclaimer"
              "button button";

            @media screen and (max-width: $breakpoint-mobile) {
              grid-template-columns: 1fr;
              grid-template-areas:
                "header"
                "text"
                "fname"
                "lname"
                "email"
                "disclaimer"
                "button";
            }
            gap: 0 1rem;
            .ctct-form-text,
            .ctct-form-label {
              font-family: var(--font-primary);
              @extend p;
            }
            .ctct-form-header {
              grid-area: header;
              @extend .font__size-3;
              color: inherit;
            }

            .ctct-form-text {
              grid-area: text;
              margin-bottom: 1rem;
            }
            #email_address_field_0 {
              grid-area: email;
            }
            #first_name_field_0 {
              grid-area: fname;
            }
            #last_name_field_0 {
              grid-area: lname;
            }
            #gdpr_text {
              grid-area: disclaimer;
              font-family: var(--font-primary);
              @extend .font__size-sm;
            }
            .ctct-form-element {
              border-radius: var(--border-radius);
              border: 1px solid var(--color-black);
              height: auto;
            }

            .ctct-form-button {
              grid-area: button;
              @extend .button;
              @extend .button--primary;
            }
          }
        }
      }
    }
  }
}
