$breakpoint-mobile: 850px;
$breakpoint-tablet: 1080px;
$breakpoint-content: 1200px;
$breakpoint-laptop: 1440px;
$breakpoint-desktop-s: 1600px;
$breakpoint-desktop: 1920px;

@keyframes sparkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hoverRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hoverScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
  @media screen and (max-width: $breakpoint-mobile) {
    scroll-padding-top: 80px;
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-neutral-2);
  font-family: var(--font-primary);
  text-wrap: balance;
  padding-top: 128px;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-top: 62px;
  }

  &.init__menu,
  &.init__modal {
    overflow: hidden;
  }

  // The Events Calendar Overrides
  --tec-color-day-marker-month: var(--color-black);
  --tec-color-background-primary-multiday: transparent;
  --tec-color-background-primary-multiday-hover: transparent;
  --tec-color-day-marker-past-month: var(--color-black);
  --tec-spacer-3: 1rem;
  --tec-spacer-5: 0.5rem;
}

h1,
.font__size-1 {
  font-size: var(--font-size-1);
  line-height: 1.25;
  font-weight: 500;
  @media screen and (max-width: $breakpoint-desktop-s) {
    font-size: calc(var(--font-size-1) * 0.708571);
  }

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: calc(var(--font-size-1) * 0.4);
  }
  &--alt {
    font-size: var(--font-size-1--alt);
    font-weight: 500;
    line-height: 1.1;
  }
}

h2,
.font__size-2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-2);
  font-weight: 600;
  line-height: 1.3;
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: calc(var(--font-size-2) * 0.625);
  }
  &--alt {
    font-family: var(--font-tertiary);
    font-size: var(--font-size-2--alt);
    font-weight: 700;
  }
}

h3,
.font__size-3 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-3);
  font-weight: 600;
  line-height: 1.4;
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 1.5rem;
  }
  &--alt {
    font-family: var(--font-primary);
    font-size: var(--font-size-3--alt);
    font-weight: 500;
    line-height: 1.1;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: calc(var(--font-size-3--alt) * 0.75);
    }
  }
}

h4,
.font__size-4 {
  font-family: var(--font-tertiary);
  font-size: var(--font-size-4);
  font-weight: 400;
  line-height: 1.4;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: calc(var(--font-size-4) * 0.781);
  }
  &--alt {
    font-family: var(--font-primary);
    font-size: var(--font-size-4--alt);
    font-weight: 500;
  }
}

h5,
.font__size-5 {
  font-size: var(--font-size-5);
  font-weight: 600;
  line-height: 1.4;
}

h6,
.font__size-6 {
  font-family: var(--font-primary);
  font-size: var(--font-size-6);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
.font__size-md {
  font-size: var(--font-size-md);
  line-height: 1.3;
}
.font__size-sm {
  font-size: var(--font-size-sm);

  &--alt {
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.125em;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}
input {
  padding: 0.4rem 1.5rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  border: 1px solid var(--color-black);
  font: inherit;
}
button {
  cursor: pointer;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @extend .font__size-sm--alt;
  gap: 0.2rem;
  padding: 0.8rem 1.5rem;
  border: 1px solid var(--color-primary-1);
  color: var(--color-white);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
  text-decoration: none;

  &--primary {
    background-color: var(--color-primary-3);
    &:hover {
      background-color: var(--color-primary-2);
    }
  }
  &--secondary {
    border: 1px solid currentColor;

    &:hover {
      background-color: var(--color-primary-3);
      color: var(--color-white);
    }
    &.menu-item {
      padding: 0;
      @media screen and (max-width: $breakpoint-mobile) {
        font: inherit;
        border: none;
        text-transform: inherit;
      }
      &:hover {
        background-color: var(--color-white);
        color: var(--color-primary-1);
      }
      a {
        padding: 0.5rem 1.5rem;
        display: block;
        @media screen and (max-width: $breakpoint-mobile) {
          padding: 0;
        }
      }
    }
  }
}

.has-underline {
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 2px;
    background: currentColor;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    transition: width var(--transition-duration);
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}
.editor {
  text-wrap: initial;
}

.icon {
  &--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-secondary-2);
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    svg {
      width: 100%;
    }
  }
  &--close {
    cursor: pointer;
  }

  &--dcs {
    &-arrow-down {
      aspect-ratio: 76 / 185;
      svg {
        width: 100%;
        height: 100%;
        clip-path: inset(0 0 0% 0);
      }
    }

    &-underline {
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.shape {
  &--1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0;
    padding-top: 78%;
    margin: auto;
    background: url("assets/shape--1.webp") no-repeat 50% 0 / cover;
    z-index: -1;
  }

  &--2 {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background: url("assets/shape--2.webp") no-repeat 50% 0 / cover;
    z-index: -1;
    aspect-ratio: 6;
  }

  &--3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 7%;
    background: url("assets/shape--3.webp") no-repeat 50% 0 / cover;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("assets/shape--3-mask.webp") no-repeat 50% 0 / cover;
      transform: translate(0%, 33%);
    }

    &.--alt {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: unset;
      height: 0;
      padding-top: 10.7%;
      z-index: -1;
      background: url("assets/shape--3-yellow.webp") no-repeat 50% 0 / cover;
      &::before {
        display: none;
      }
    }
  }

  &--4 {
    position: absolute;
    bottom: 98%;
    left: 0;
    width: 30%;
    aspect-ratio: 431 / 137;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 31.787%;
      background: url("assets/shape--4.webp") no-repeat 50% 0 / cover;
    }
  }

  &--5 {
    //
  }

  &--6 {
    position: absolute;
    top: var(--gutter-sm);
    right: 0;
    width: 30%;
    aspect-ratio: 231 / 51;
    z-index: 2;
    transform: translateX(30%);
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 22%;
      background: url("assets/shape--6.webp") no-repeat 50% 0 / cover;
    }
  }

  &--sparkle {
    animation: sparkle 0.8s infinite;
    &.--secondary {
      animation: sparkle 1s 0.4s infinite;
    }
  }
}

.position {
  &--centered {
    transform: translate(-50%, -50%);
  }
}

.hover-animation {
  &--rotate {
  }
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 var(--gutter);
  &__content {
    max-width: var(--content-width);
  }
}

section {
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
  padding: var(--spacer) var(--gutter);
  z-index: 2;
}

main {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: opacity var(--transition-duration-long)
      var(--transition-ease-in-out);
    opacity: 0;
    z-index: 9;
    pointer-events: none;
  }
  &.loading {
    &::before {
      opacity: 1;
    }
  }
}
