.site-header {
  overflow: hidden;
  &__announcement-bar {
    background-color: var(--color-announcement-bar-background);
    color: var(--color-announcement-bar-text);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: height 0.3s var(--transition-ease-in-out),
      opacity 0.3s var(--transition-ease-in-out);
    height: 3rem;
    &-inner {
      padding: 1rem;
    }
    &-close {
      position: absolute;
      right: 0.5rem;
      top: 0;
      height: 100%;
      svg {
        width: 70%;
      }
    }

    &.hidden {
      height: 0rem;
      opacity: 0;
    }
  }

  &__logo {
    width: 160px;
    display: block;
    margin-right: auto;
  }
  &__navigation {
    &--top,
    &--bottom {
      display: flex;
      align-items: center;
    }

    &--top {
      justify-content: flex-end;
      color: var(--color-background);
      background-color: var(--color-text);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: var(--font-size-sm);
      font-weight: 500;

      .menu-item-gtranslate {
        &:after {
          content: url("assets/caret-down--white.svg");
          transform: translateY(-1px);
          display: inline-block;
        }
      }
    }

    &--bottom {
      background-color: var(--color-background);
      color: var(--color-text);
      font-weight: 600;
      position: relative;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }

    .icon {
      &--search {
        cursor: pointer;
        margin-left: 2rem;
      }
      &--close {
        transform: translateX(0.2rem);
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    form {
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      background: #ffffff;
      display: flex;
      align-items: center;
      text-align: center;
      width: calc(100% - calc(var(--gutter)) - 160px);
      height: 100%;
      justify-content: flex-end;
      padding: 1rem calc(var(--gutter) - 30px) 1rem var(--gutter);
      transition: opacity var(--transition-duration);
      margin-top: 1px;
      body.init__search & {
        opacity: 1;
        pointer-events: initial;
      }
      button {
        color: inherit;
      }
    }
  }
}
