$menu-height: 128px;

.site-header {
  overflow: hidden;
  z-index: 9;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  @media screen and (max-width: $breakpoint-mobile) {
    overflow: visible;

    body.init__modal & {
      z-index: 1;
    }
  }
  &__announcement-bar {
    background-color: var(--color-announcement-bar-background);
    color: var(--color-announcement-bar-text);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: height 0.3s var(--transition-ease-in-out),
      opacity 0.3s var(--transition-ease-in-out);
    height: 3rem;
    &-inner {
      padding: 1rem;
    }
    &-close {
      position: absolute;
      right: 0.5rem;
      top: 0;
      height: 100%;
      svg {
        width: 70%;
      }
    }

    &.hidden {
      height: 0rem;
      opacity: 0;
    }
  }

  &__logo {
    width: 160px;
    display: block;
    margin-right: auto;
    transition: width var(--transition-duration);
    body.scrolled & {
      width: 120px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      width: 120px;
    }
  }
  &__navigation {
    &--top,
    &--bottom {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &--top {
      justify-content: flex-end;
      color: var(--color-background);
      background-color: var(--color-text);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: var(--font-size-sm);
      font-weight: 500;
      transition: opacity var(--transition-duration);
      @media screen and (max-width: $breakpoint-mobile) {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        z-index: 3;
        justify-content: flex-start;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: var(--font-size-md);

        body.init__menu & {
          opacity: 1;
          pointer-events: initial;
        }
      }

      li {
        &:not(.button) {
          a {
            @extend .has-underline;
          }
        }

        &.current_page_item,
        &.current-page-ancestor {
          a {
            &::before {
              width: 100%;
            }
          }
        }

        &.button {
          background-color: var(--color-primary-4);
          border-color: var(--color-primary-4);
          @media screen and (max-width: $breakpoint-mobile) {
            letter-spacing: unset;
            background-color: unset;
            border-color: unset;
          }
        }
      }
      .menu-item-gtranslate {
        @extend .has-underline;

        &:after {
          content: url("assets/caret-down--white.svg");
          transform: translateY(-1px);
          display: inline-block;
        }
      }
    }

    &--bottom {
      background-color: var(--color-background);
      color: var(--color-text);
      font-weight: 600;
      position: relative;
      .container {
        position: relative;
        display: flex;
        align-items: center;
      }
      .main-navigation {
        @media screen and (max-width: $breakpoint-mobile) {
          color: var(--color-background);
          background-color: var(--color-text);
          position: absolute;
          top: calc(100% + var(--menu-height--top));
          width: calc(100vw + var(--gutter) * 2);
          left: calc(var(--gutter) * -1);
          padding: 1rem var(--gutter) 5rem calc(var(--gutter) * 2);
          transition: opacity var(--transition-duration);
          opacity: 0;
          pointer-events: none;

          ul {
            height: 60dvh;
            justify-content: flex-start;
          }
          body.init__menu & {
            opacity: 1;
            pointer-events: initial;
          }
        }

        li {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            background: var(--image-hover) center center / cover no-repeat;
            height: 6px;
            width: 75px;
            transition: clip-path var(--transition-duration);
            clip-path: inset(0 100% 0 0);

            @media screen and (max-width: $breakpoint-mobile) {
              display: none;
            }
          }
          @media screen and (max-width: $breakpoint-mobile) {
            font-size: var(--font-size-1--alt);
            font-weight: 500;
          }
          &:hover::before {
            clip-path: inset(0 0% 0 0);
          }
          &.current-menu-item::before {
            clip-path: inset(0 0% 0 0);
          }
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 3rem;
      @media screen and (max-width: $breakpoint-tablet) {
        gap: 2rem;
      }
      @media screen and (max-width: $breakpoint-mobile) {
        gap: 1.5rem;
      }
      @media screen and (max-width: $breakpoint-mobile) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .icon {
      &--search {
        cursor: pointer;
        margin-left: 2rem;
        transition: opacity var(--transition-duration),
          transform var(--transition-duration);
        @media screen and (max-width: $breakpoint-mobile) {
          position: absolute;
          top: calc(
            (100% + var(--menu-height--top) + var(--menu-height--bottom)) -
              (var(--gutter-lg) * 2)
          );
          color: #ffffff;
          right: var(--gutter);
          opacity: 0;
          pointer-events: none;
          body.init__menu & {
            opacity: 1;
            pointer-events: initial;
          }
        }

        &:hover {
          transform: scale(1.2);
        }
      }
      &--close {
        transform: translateX(0.2rem);
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    form {
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      background: #ffffff;
      display: flex;
      align-items: center;
      text-align: center;
      width: calc(100% - calc(var(--gutter)) - 160px);
      height: 100%;
      justify-content: flex-end;
      padding: 1rem calc(var(--gutter) - 30px) 1rem var(--gutter);
      transition: opacity var(--transition-duration);
      margin-top: 1px;

      @media screen and (max-width: $breakpoint-mobile) {
        position: absolute;
        top: calc(
          (100% + var(--menu-height--top) + var(--menu-height--bottom))
        );
        right: 0;
        width: 100%;
        justify-content: flex-start;
        padding: 1rem calc(var(--gutter) - 30px) 2rem var(--gutter);
        transform: translateY(-100%);
        height: 100px;
      }
      body.init__search & {
        opacity: 1;
        pointer-events: initial;

        @media screen and (max-width: $breakpoint-mobile) {
          opacity: 0;
          pointer-events: none;
        }
      }

      @media screen and (max-width: $breakpoint-mobile) {
        body.init__search.init__menu & {
          opacity: 1;
          pointer-events: initial;
        }
      }
      .search-field {
        width: 600px;
        @media screen and (max-width: $breakpoint-mobile) {
          width: 88vw;
        }
      }
      button {
        color: inherit;
      }
    }
  }

  &__mobile-toggle {
    cursor: pointer;
    display: none;

    @media screen and (max-width: $breakpoint-mobile) {
      display: block;
    }

    &-line {
      width: 2rem;
      height: 3px;
      background-color: currentColor;
      margin: 0.3rem 0;
      transition: margin var(--transition-duration) var(--transition-duration),
        transform var(--transition-duration) 0s,
        opacity var(--transition-duration) var(--transition-duration);
      body.init__menu & {
        &:nth-child(1) {
          transform: rotate(45deg);
          transition: transform var(--transition-duration)
            var(--transition-duration);
        }
        &:nth-child(2) {
          opacity: 0;
          margin: calc(-0.3rem - 3px) 0;
          transition: margin var(--transition-duration) 0s,
            opacity var(--transition-duration) 0s;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          transition: transform var(--transition-duration)
            var(--transition-duration);
        }
      }
    }
  }
}
