.posts {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--posts-per-slide), 1fr);
  position: relative;
  padding-bottom: 2rem;
  @media screen and (max-width: $breakpoint-mobile) {
    display: flex;
    overflow-x: auto !important;
    padding: 0 var(--gutter) 1rem;
  }
  .swiper {
    &-wrapper {
      @media screen and (max-width: $breakpoint-mobile) {
        width: auto;
        gap: 1rem;
      }
    }
    &-slide {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(var(--posts-per-slide), 1fr);
      padding: 0 2rem;

      @media screen and (max-width: $breakpoint-mobile) {
        display: flex;
        padding: 0;
        width: auto;
      }
    }

    &-pagination {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 2rem;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      &-bullet {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: var(--color-black);
        cursor: pointer;
        transition: opacity 0.3s;
        opacity: 0.5;
        &-active {
          opacity: 1;
        }
      }
    }

    &-button {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      transition: opacity var(--transition-duration);

      @media screen and (max-width: $breakpoint-mobile) {
        display: none;
      }
      &-next {
        right: 0;
      }
      &-prev {
        left: 0;
        transform: scaleX(-1);
      }
      &-disabled {
        opacity: 0;
      }
    }
  }
  .post-list.--has-pagination & {
    grid-template-columns: 1fr;
  }

  .post {
    background-color: var(--color-background);
    color: var(--color-white);
    padding: 1rem 1rem 2rem;
    border-radius: var(--border-radius);

    @media screen and (max-width: $breakpoint-mobile) {
      width: 80vw;
      flex-shrink: 0;
    }
    &__image {
      border-radius: var(--border-radius);
      overflow: hidden;
      margin-bottom: 1rem;
    }

    &__meta {
      @extend .font__size-6;
      margin-bottom: 0.5rem;
    }

    &__title {
      margin-bottom: 1.5rem;
    }

    &__excerpt {
      p {
        @extend .font__size-md;
      }
    }
  }

  &.--press {
    .post {
      background-color: transparent;
      color: var(--color-black);
    }
  }
}
