.gt_selector {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  text-transform: uppercase;
  width: 2em;
  cursor: pointer;

  option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--color-primary-1);
    font: inherit;

    &:nth-child(1) {
      display: none;
    }
  }
}
